/* Set global css variables */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Used by all major components to create a tiled appearance */
.floating-icon {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

/* Used by the icons in the NavBar to override their default css colors */
.whiteLink:hover,
.whiteLink:active,
.whiteLink:visited,
.whiteStyle {
  color: white;
}

/* Used in WorkshopEditor.js to set minimum height of editing dialog */
div.DraftEditor-root {
  min-height: 5rem;
}
div.public-DraftEditor-content {
  height: 25rem;
}